/* Estilo Geral */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e3f2fd; /* Fundo azul claro */
  color: #333; /* Texto em cor escura para boa legibilidade */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container dos Detalhes */
.detalhes-container {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto; /* Adiciona margem superior para centralizar */
  background: #ffffff; /* Fundo branco */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  text-align: center; /* Centralizar texto */
  border: 1px solid #e1e1e1; /* Borda clara */
  margin-top: 50px;
  margin-bottom: 50px;

}

/* Conteúdo dos Detalhes */
.detalhes-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* Grupo de Botões */
.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px; /* Espaço acima dos botões */
}

/* Título do Livro */
h1 {
  font-size: 2em; /* Aumenta o tamanho do texto */
  color: #2c3e50; /* Azul escuro */
  margin-bottom: 20px; /* Espaço abaixo do título */
}

/* Imagem da Capa do Livro */
.livro-capa {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave na imagem */
}

/* Informações do Livro */
p {
  font-size: 1.1em; /* Aumenta o tamanho do texto */
  color: #555; /* Texto em cinza escuro */
  margin: 10px 0; /* Espaço entre parágrafos */
  line-height: 1.6; /* Altura da linha maior para melhor legibilidade */
}

/* Texto Negrito */
strong {
  color: #2c3e50; /* Azul escuro */
}

/* Estilo para o Texto de Carregamento */
.loading {
  font-size: 1.2em;
  color: #888; /* Texto em cinza claro */
  margin-top: 20px;
}

/* Botões de Navegação */
.nav-button {
  padding: 10px 20px;
  background-color: #3498db; /* Azul claro */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #2980b9;
}
